<div class="row">
    <div class="col-8">
        <label for="formFileMultiple" class="form-label">
        <input class="form-control" type="file" (change)="selectFile($event)" id="formFileMultiple" multiple/>
      </label>
    </div>
  
    <div class="col-4">
      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
    </div>
  </div>
  
  <div *ngIf="currentFile" class="progress my-3">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
  
  <div class="card mt-3">
    <div class="card-header">Lista de Arquivos</div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let file of fileInfos | async" class="list-group-item">
        <a href="{{ file.name }}">{{ file.name }}</a>
      </li>
    </ul>
  </div>
  